--calibrate-container /scratch3/gal16b/containers/calibrate.sif 
--flagger-container /scratch3/gal16b/containers/aoflagger.sif  
--wsclean-container /scratch3/gal16b/wsclean_scales.sif
# /scratch3/projects/spiceracs/singularity_images/wsclean_force_mask.sif  
--yandasoft-container "/scratch3/gal16b/containers/yanda/yandasoft_development_20240819.sif"
--potato-container /scratch3/gal16b/containers/potato_shift.img
--casa-container "/scratch3/gal16b/containers/casa_ks9-5.8.0.sif"
--cluster-config ./petrichor.yaml 
#--zip-ms 
--run-aegean 
--aegean-container '/scratch3/gal16b/containers/aegean.sif' 
--reference-catalogue-directory '/scratch3/gal16b/flint_reference_catalogues/' 
--linmos-residuals 
--use-preflagger  
--use-beam-masks 
--use-beam-masks-from 1 
--imaging-strategy emu_deep_minimax.yaml
--sbid-copy-path=./archive_copies
#--sbid-archive-path=/datastore/gal16b/tarball_racs_low3
--rename-ms
--rounds 3
#--coadd-cubes
--stokes-v-imaging
