cluster-config ./petrichor_timestep.yaml 
--imaging-strategy emu_deep.yaml
--expected-ms 36
#--stagger-delay-seconds 0.1 
--subtract-data-column "DATA"
--attempt-subtract
#--use-crystalball
--timestep-image
--max-interval 20000
--fitscube-remove-original-images
--memory-fraction 0.2
--row-chunks 10000
--model-chunks 1000
#--subtract-only
